<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/script.js"></script>
    <title>ChitChat</title>

</head>

<body>
    <ul id="messages"></ul>
    <form action="" id="chatbox">
        <textarea name="" id="" cols="30" rows="10"></textarea>
        <input type="submit" value="Send">
    </form>

</body>

</html>