<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup - ChitChat</title>
</head>

<body>
    <div class="container">
        <div class="page-header">
            <h1>Create a new ChitChat account</h1>
        </div>
        <div class="panel panel-danger">
            <div>
                <form action="" method="post">
                    <label for="username">Username</label>
                    <input id="username" name="username" type="text" placeholder="Enter your ChitChat username"><br>

                    <label for="email">Email</label>
                    <input id="email" name="email" type="text" placeholder="Enter your preferred valid email"><br>

                    <label for="password">Password</label>
                    <input type="password" name="password" id="password"><br>

                    <button type="submit">Login</button>
                </form>
            </div>
            <div class="panel-body">
                <p>Alternatively, Select the service you would like to Register with:</p>
                <ul>
                    <li>
                        <a href="/auth/login/facebook">Facebook</a>
                    </li>
                    <li>
                        <a href="/auth/login/github">Github</a>
                    </li>
                    <li>
                        <a href="/auth/login/google">Google</a>
                    </li>
                </ul>
            </div>
            <div>
                <p>Already have an account, </p>
                <a href="/login">Login</a>
            </div>
        </div>
    </div>
</body>

</html>